<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mingxi.css" />
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header-aside mui-action-back">
					<img src="img/youjian.png" />
				</div>
				<div class="header-text">明细</div>
				<div class="header-aside"></div>
			</div>
			<div class="main">
				<div class="main-one" v-for="(i,index) in mingxidata" v-if="i.status==2">
					<div class="one-top">
						<div class="one-text">购买支付</div>
						<div class="one-news">{{i.smUfCreateTime}}</div>
					</div>
					<div class="one-bottom">
						<div class="one-word">余额:{{i.smUfWalletPrice}}</div>
						<div class="one-text">{{i.smUrPrice}}</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/URL.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var myvue = new Vue({
			el: '.wrapper',
			data: {
				mingxidata:[]
			},
			methods: {
				name: function() {
					var that = this
					$.ajax({
						type: "post",
						url: myurl + "/user/selectSmUserWalletDetail",
						async: true,
						dataType: 'json',
						data: {
							smUserId: localStorage.getItem("id")
						},
						success: function(res) {
							if(res.status == 200) {
								that.mingxidata=res.data
							} else {
								alert(res.msg)
							}
						},
						error: function(err) {
							alert("网络连接失败，请稍后重试")
						}
					});
				}
			},
			mounted: function() {
				this.name()
			}
		})
	</script>

</html>